<tr class="border-top">
  <td> <%= task.description %> </td>
 <!--Primeira coluna será exibido a descrição da tarefa-->
  <td> <%= I18n.l(task.due_date) %> </td>
 <!--Na segunda coluna será exibido o prazo-->
</tr>
