<div class="row">
  <div class="col">
    <h1 class="display-4"> <%= t(".description") %> </h1> <!-- t(".description") = significa que foi feita a tradução nos arquivos locales -->

    <%= render 'form', task: @task %> <!--renderizar path form-->
  </div>
</div>
