<div class="row">
  <div class="col">
    <h1 class="display-4"> 
      <%= @task.parent? ? t(".description_edit_task") : t(".description_edit_subtask") %> <!-- 
      * SE a task for pai então vai exibir "Editar tarefa" SENÃO(for falso) vai exibir "Editar sub-tarefa";
      * t(".description_edit") = significa que foi feita a tradução nos arquivos locales -->
    </h1> 

    <%= render 'form', task: @task %> <!--renderizar path form-->
  </div>
</div>
