<div class="row">
  <div class="col">
    <h1 class="display-4"> 
      <%= params[:parent_id].present? ? t(".description_new_subtask") : t(".description_new_task") %> <!-- 
      * SE parent_id estiver presente então vai exibir "Nova sub-tarefa" SENÃO(for falso) vai exibir "Nova tarefa";
      * t(".description_new...") = significa que foi feita a tradução nos arquivos locales -->
    </h1> 

    <%= render 'form', task: @task %> <!--renderizar path form-->
  </div>
</div>
