$enable-gradients: true;

@import "bootstrap";

html, body, .container-body {
  height: 100%;
}

.linha-background {
  background-image: url("../../assets/images/bg.jpg");
  background-position: center;
  background-size: cover;
}

.coluna-background {
  opacity: 95%;
}